
body{
    background-color: #222;
    color:#f0f0f0;
    letter-spacing:1px;
    font-weight:100;
}
#container{
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #000;
}
h1 {
  text-align:right;
  padding:0;
  margin:0;
}
hr {
  opacity:0.3;
}
#avstumpfl {
  width:100px;
}
label {
  font-weight:300;
}
.smaller {
  display:block;
  font-size: 0.5em;
  text-transform:uppercase;
  padding-top:4px;
  font-weight:100;
  letter-spacing: 2px;
  clear:both;
}
.logo{
    width: 100%;
    max-width: 400px;
    height: auto;
}

#error{
    list-style: none;
    margin: 0;
    padding: 0;
}
#drawing{
    overflow: visible;
    margin: 0 300px 300px 0;
}
#headerRow{
    clear: right;
    height: 62px;
    float: left;
}
.singleheader{
    width: 100px;
    height: 62px;
    float: left;
    content:  url(../img/single_header_alone.png);
}
.doubleheader{
    width: 200px;
    height: 62px;
    float: left;
    content: url(../img/double_header_alone.png);
}
.singleheader.right{
    content: url(../img/single_header_right.png);
}
.singleheader.middle{
    content: url(../img/single_header_middle.png);
}
.doubleheader.edge{
    content: url(../img/double_header_edge.png);
}
.doubleheader.middle{
    content: url(../img/double_header_middle.png);
}
.tile{
    width: 100px;
    height: 112px;
    float: left;
    border: 2px solid #555;
}
#print_logo {
	display: none;
}
#tabs{
    margin-top: 10px;
}
#screen_wrapper{
    overflow: visible;
}
#drawing_container{
    position: relative;
    overflow: visible;
}
#drawing{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    overflow: visible;
}