@page{
    size: portrait;
    width: 210mm;
    height: 297mm;
}

#header{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
body{
    color: #000 !important;
    font-weight: normal !important;
}
#widthInput, #heightInput, #tabs ul{
    display: none;
}
#print_logo {
    display: block;
	}
#tabs{
    border: 0;
    margin: 0;
    padding: 0;
    width: 210mm;
}
#screeninfo, #screenwarning{
    width: 210mm;
    page-break-inside: avoid;
}
#screenillustration{
    page-break-before: always;
}
#drawing_container{
    transform: scale(0.6);
    transform-origin: top left;
}
#screenwarning ul{
    border: 0;
}